# Default Go configuration (docker init)
# Some helpful links:
# https://docs.docker.com/go/compose-spec-reference/
# https://github.com/docker/awesome-compose

services:
  server:
    build:
      context: .
      target: final
    secrets:
      - db-password
    environment:
        - POSTGRES_DB_PORT=5432
        - POSTGRES_DB=tokens
        - POSTGRES_USER=tokenApi
        - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres
    restart: always
    user: postgres
    secrets:
      - db-password
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=tokens
      - POSTGRES_USER=tokenApi
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  db-data:
secrets:
  db-password:
    file: db/password.txt
